a.active-link {
  background-color: var(--admin-sidebar-active) !important;
  color: #ffffff !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1) !important;
  transform: translateX(4px);
}

a.active-link span {
  color: #ffffff !important;
}
