# Configuración del servidor
PORT=3000

# Base de datos (PostgreSQL)
DATABASE_URL=postgresql://usuario:contraseña@localhost:5432/planet_pizza

# Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# Mercado Pago
# Coloca aquí tu Access Token de Sandbox o Producción
MERCADOPAGO_ACCESS_TOKEN=tu_access_token
# URL de redirección cuando el pago es exitoso/fallido
FRONTEND_URL=http://localhost:4200
# URL del backend (requerida por Mercado Pago para enviar el webhook si está desplegado)
# Si estás probando localmente, puedes usar herramientas como ngrok
BACKEND_URL=http://localhost:3000
